*{
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin:0;
  padding: 0;
}
body{
  font-family: 'Segoe UI', sans-serif;
  background-color: #EDECF1;
  overflow-y: scroll;
  color: #2b2b2b;
}
.contact-form {
  width: 500px;
  margin: 20px auto;
  font-size: 25px;
}
.contact-form input{
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 8px 5px;
  border: 1px solid #ababab;
  outline: 0;
  border-radius: 2px;
}
.contact-form .message-input {
  padding: 8px 5px 100px;
}
.invalid {
  color: #fff;
  background-color: #F55443;
}
.contact-form button{
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  outline: none;
  background-color: #2299DD;
  border: 1px solid #1D8FD2;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer
}
#success-msg{
  display: none;
  color: #fff;
  background-color: #1EBBA6;
  font-size: 14px;
  padding: 6px 20px;
  width: 95%;
}
/*-------------------------- homepage -------------------------------*/
.menu h1{
  font-weight: 200;
  font-size: 25px;
  margin: 25px 0 10px;
  color: #333;
}
.menu .h2{
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 25px;
  color: #7a7a7a;
}
section.menu {
  width:  800px;
  margin: 10px auto;
  text-align: center;
}
.menu li{
  list-style: none;
}
.menu a{
  display: inline-block;
  text-decoration: none;
  margin: 15px 10px;
  padding: 75px 0px;
  width: 350px;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 1px 2px 2px #dedede;
  color: #444;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
}
.menu a span{
  font-weight: 800;
  display: block;
  margin: 5px 0 0;
  font-size: 12px;
  text-transform: uppercase;
}
.menu a:hover {
  background-color: #2299DD;
  color: #fff;
  box-shadow: 4px 6px 6px #aaa;
}
/*-------------------------- slideshow -------------------------------*/
.container {
  width: 900px;
  margin: 0px auto;
}
h1{
  margin: 20px 0;
  font-size: 28px;
  font-size: 2.2rem;
  font-weight: 200;
  color: #3a3b3c;
}

.carousel {
  position: absolute;
}

.carousel img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 15px #8a8a8a;
}

.carousel-control {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0 25px;
  font-size: 20px;
  background: transparent;
  color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
}

.carousel-control-right {
  right: 0;
}

.carousel-control-left {
  left: 0;
}

.img-show {
  display: inline-block;
}

.img-hide {
  display: none;
}

@media (min-width: 250px)  and (max-width: 600px) {
  html {
    font-size: 11px;
  }
  h1 {
    padding: 0 10px;
  }
}

@media (min-width: 601px)  and (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}
